/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Open Sans", sans-serif;

}
.container {
    width: 75%;
    height: 85%;
    position: relative;
    top: 10%;
    left: 13%; 
}

/* Button */
.btn {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 14px;
    line-height: normal;
    display: inline-block;
    color: white;
    text-align: center;
}
.small {
    background-color: #0061ff;
    color: white;
    height: 80%;
}
.large {
    background-color: #0061ff;
    color: white;
    height: 80%;
}
.prova {
    background-color: white;
    color: black;
    height: 80%;
    width: 250px;
}
.white {
    background-color: white;
    color: black;
    height: 80%;
    border: 1px solid black;
}
.btn:hover {
    background-color: #3c84ff;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 78px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.logo {
    width: 130px;
    vertical-align: middle;
}
.menu {
    list-style-type: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.sinistra {
    width: 49.4%;
    height: 80px;
    float: left;
}
.destra {
    width: 49.4%;
    height: 80px;
    float: right;
    text-align: right;
}
.menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
    height: 100%;
}
.menu a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: bold;
}
.sinistra a {
    margin-right: 40px;
    margin-left: 5px;
}
.destra a {
    margin-left: 40px;
    
}
.menu li:hover {
    border-bottom: 2px solid gray;
}

/* MAIN */
main {
    margin-top: 70px;
}
/* Jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    height: 600px;
}
.titolo {
    font-size: 37px;
}
.testo {
    float: left;
    font-size: 15px;
    width: 31%; 
    text-align: left;
    margin-top: 20px;
    line-height: 20px;
}
.paragrafo, .bottone {
    margin-top: 30px;
}
.img-jumbotron {
    float: right;
    width: 69%;
    height: 550px;
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.paragrafo-due {
    font-size: 13px;
    margin-top: 10px;
}
.arrow {
    font-size: 30px;
    margin-top: 30px;
}

/* Business */
.business {
    margin-top: 130px;
    /* height: 1240px; */
}
.descrizione{
    height: 15%;
    width: 100%;

}
.descrizione h2 {
    font-size: 30px;
    margin-top: 50px;
    vertical-align: middle;
}
.fatturazione {
    margin-top: 50px;
    margin-bottom: 20px;
}
.checkbox {
    height: 17px;
    width: 17px;
    border-radius: 17px;
    border: 1px solid grey;
    display: inline-table;
    margin-top: 5px;
    position: relative;
    top: 4px;
    left: 0;
}
.blu {
    border: 5px solid #0061ff;
}
.fatturazione p {
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
}
.piani-business {
    width: 100%;
}

/* Divisione piani business */
.piano {
    width: 25%;
    display: inline-block;
    margin-right: 137px;
    text-align: center;
    vertical-align: middle;
    

    /* test */
    border: 1px solid lightgrey;
}
.advanced {
    margin-right: 0px;
}
.user {
    text-align: center;
    vertical-align: inherit;
    padding: 20px 10px;
}
.piano hr {
    margin-top: 10px;
    color: lightgrey;
    width: 100%;
    margin-bottom: 20px;
}
.piano h2 {
    text-align: left;
    margin-bottom: 20px;
    padding: 0 20px;

}
.prezzo-mese {
    font-weight: bold;
    text-align: left;
    margin-left: 20px;

}
.mensilità {
    font-weight: normal;
    color: grey;
    font-size: 13px;
    
    text-align: left;

}
.info {
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    display: inline-block;
    font-size: 13px;
}
.icone {
    width: 10%;
    float: left;
}
.funzioni {
    width: 90%;
    height: inherit;
    float: right;
}
.funzioni div {
    width: 100%;
    height: 70px;
}
.icone div {
    width: 100%;
    height: 70px;
}
.prova {
    margin-top: 50px;
    font-size: 13px;
}
.prova a {
    padding: 7px 30px;
}
.acquista {
    text-align: left;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 25px;
}
.acquista a {
    color: #3d86fc;
    display: inline-block;
    border-bottom: 1px solid white;
}
.border {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}

/* Punti salenti */
.piano h4 {
    text-align: left;
    margin-top: 60px;
    margin-left: 15px;
}
.check {
    color: #0061ff;
    width: 10%;
    height: inherit;
    float: left;
}
.punti-salienti {
    width: 90%;
    float: right;
}
.check div {
    width: 100%;
    height: 50px;
}
.punti-salienti div {
    width: 100%;
    height: 50px;
    padding-right: 15px;
}
.ultimo-piano {
    width: 100%;
    margin-top: 45px;

    border: 1px solid lightgrey;
}
.team {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid lightgrey;
    padding-top: 11px;
}
.ultimo-piano-descrizione {
    padding: 20px 30px;
}
.ultimo-piano-titolo {
    float: left;
}
.ultimo {
    float: right;
}
.ultimo-piano-p {
    margin-top: 20px;
}

/* Partner Dropbox */
.partner {
    width: 100%;
    margin-top: 120px;
}
.img-partner img {
    float: left;
    width: 50%;
}
.testo-partner  {
    float: right;
    width: 40%;
    margin-top: 60px;
}
.testo-partner p {
    margin-top: 25px;
    line-height: 30px;
}
.testo-partner a {
    margin-top: 25px;
}

/* Operazioni Dropbox Business */
.operazioni {
    height: 1200px;
}
.operazioni-business {
    /* height: 10%;  */
    width: 100%;
    font-size: 20px;
}
.operazioni-business h2 {
    margin-top: 60px;
    font-size: 35px;
}
.row {
    width: 100%;
    height: 43%;
}
.col {
    width: 30%;
    height: 100%;
    display: inline-block;
    margin-right: 35px;
}
.img-operazioni {
    height: 50%; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.text-operazioni {
    height: 40%;
}
.text-operazioni h3 {
    font-size: 18px;
}
.text-operazioni p {
    margin-top: 15px;
    
}
.prima {
    background-image: url("../img/business-feature-switching-tools.png");
}
.seconda {
    background-image: url("../img/business-feature-coordinate-it.png");
}
.terza {
    background-image: url("../img/business-feature-multi-device.png");
}
.quarta {
    background-image: url("../img/business-feature-integrations-it.png");
}
.quinta {
    background-image: url("../img/business-feature-send-files-it.png");
}
.sesta {
    background-image: url("../img/business-feature-security.png");
}

/* Aziende affiliate */
.aziende h2 {
    font-size: 35px;
    width: 45%;
}
.aziende div {
    margin-top: 25px;
    margin-bottom: 60px;
}
.colonna {
    float: left;
}

.colonna-logo {
    width: 27%;
    height: 400px;
}
.colonna-text {
    width: 46.6%;
    height: 400px;
    background-color: #f5f5f5;
}
.riga {
    height: 50%;
}

.box {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* .logo-designit {
    filter: invert(0.3);
} */
.logos img {
    filter: invert(1);
    height: 100%;
    width: 65%;
    padding: 20px 10px;
    margin-left: 38px;
}
.colonna-text img {
    filter: none;
    width: 20%;
    height: 50%;
    margin-top: 25px;
    border-bottom: 1px solid lightgrey;
}
.colonna-text p {
    margin-top: 20px;
    width: 80%;
    margin-left: 35px;
}
.designit {
    background-color: #a2d39b;   
    border: 10px solid #d0e9cd; 
}
.designit img {
    width: 75%;
}

.asu {
    background-color: #61082b; 
}
.florida {
    background-color: #0093ce;
}
.florida img {
    height: 33%;
    width: 80%;
    margin-top: 60px;
    padding-left: 0px;
}
.toops {
    background-color: #ff1c1c;
}
.bycicle {
    background-color: #d5001f;
}
.hearst {
    background-color: #b4d0e7;
}
.lonely {
    background-color: #0d2481;
}
.clear {
    background-color: #ffd830;
}

/* Prova gratuita */
.prova-gratuita {
    width: 100%;
    background-color: #b4d0e7;
}
.prova-dropbox {
    float: left;
    width: 25%;
    font-size: 20px;
    color: #61082b;
    padding: 70px 0;
    margin-left: 250px;
}
.bottone-prova {
    float: right;
    padding: 30px 0;
    margin-right: 250px;
}

/* Domande frequenti */
.linea {
    width: 100%;
    height: 100px;

    margin-bottom: 50px;
    border-bottom: 1px solid lightgrey;
}
.linea h2 {
    margin-top: 80px;
    font-size: 25px;
}
.linea h3 {  
    width: 75%;
    float: left;
}
.linea i {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

/* FOOTER */
.menu-footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 110px 140px;
}
.sezione {
    float: left;
}
.menu-singolo {
    width: 18%;
}
.menu-singolo h4 {
    margin-bottom: 10px;
    margin-left: 30px;
}
.menu-singolo li {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: 30px;
}
.menu-singolo a {
    text-decoration: none;
    color: white;
}
.menu-singolo hr {
    background-color: grey;
    margin-top: 60px;
    width: 50%;
    margin-left: 30px;
    margin-bottom: 50px;
}
.linguaggio {
    color: grey;
    margin-left: 30px;
}