/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Open Sans", sans-serif;

}

/* Button */
.btn {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 14px;
    line-height: normal;
    display: inline-block;
    color: white;
    text-align: center;
}
.small {
    background-color: #0061ff;
    color: white;
    height: 80%;
}
.large {
    background-color: #0061ff;
    color: white;
    height: 80%;
}
.btn:hover {
    background-color: #3c84ff;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 78px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.logo {
    width: 130px;
    vertical-align: middle;
}
.menu {
    list-style-type: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.sinistra {
    width: 49.4%;
    height: 80px;
    float: left;

  
}
.destra {
    width: 49.4%;
    height: 80px;
    float: right;
    text-align: right;



}
.menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
    height: 100%;
}
.menu a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: bold;
}
.sinistra a {
    margin-right: 40px;
    margin-left: 5px;
}
.destra a {
    margin-left: 40px;
    
}
.menu li:hover {
    border-bottom: 2px solid gray;
}

/* MAIN */
main {
    margin-top: 70px;
}
.jumbotron {
    background-color: #b4d0e7;
    height: 600px;
}
.container {
    width: 75%;
    height: 85%;
    position: relative;
    top: 10%;
    left: 13%; 
}
.titolo {
    height: 30%;
    font-size: 37px;

}
.testo {
    float: left;
    font-size: 15px;
    width: 31%;
    height: 400px; 
    text-align: left;
    margin-top: 20px;
    line-height: 20px;
}
.paragrafo, .bottone {
    margin-top: 30px;
}
.img-jumbotron {
    float: right;
    width: 69%;
    height: 550px;
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.paragrafo-due {
    font-size: 13px;
    margin-top: 10px;
}
.arrow {
    font-size: 30px;
    margin-top: 30px;
}
